.startScreen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70vw;
        height: auto;
        max-height: 100vh;
    }

}

.startLabel {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0px;
    right: 0;
    top: calc(50% + 7%);

    img {
        width: 30%;
        max-height: 200px;
        cursor: pointer;
        &:hover {
            filter: brightness(1.35);
    
        }
    }
}