
button[mat-fab] {
    border-radius: 50% !important;
    background-color: orange;
    &:hover {
        background-color: darkorange;
        mat-icon {
            color: black;  
          } 
    }
}

mat-icon {
    color: white;   
}

button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.gameField {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/img/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardStack {
    position: relative;
    display: flex;
    align-items: center;

    img {
        position: absolute;
        width: 10vw;
        min-width: 100px;
        max-width: 150px;
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

.topCard {
    cursor: pointer;
    transition: all 180ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-40px);
    }
}

.pickCard {
    right: 20px;
    animation: pickCardAnimation 1.2s ease-in-out;
    transform: scale(1.1) translateX(180px) translateY(-200px) rotate(-7deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.1) translateX(180px) translateY(-200px) rotate(-7deg);
    }

}

