.player {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: orange;
    color: lightgrey;
    opacity: 0.5;
    span {
        font-size: 32px;
        margin-left: 16px;
    }
    img {
        width: 70px;
        height: 70px;
    }
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.active {
    color: green;
    opacity: unset;
}